body, html {
    height:  100%
}

body {
    background-color: rgb(182, 109, 26);
  
    font-weight:  200;
    font-size: 1.5rem;
    color: rgb(73, 85, 85);
}

.left-side   {

    background: url(../assets/redBlackBackground.jpg);
   
    position: fixed;
    left:0;
    width: 33%;
    height: 100%;
    color: ghostwhite;
}


@media (max-width: 768px) {
    .leftSide {
        height: 30vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
}

.headshot {
    width: 10rem;
    height: 8rem;
    border-radius: 60%;
    margin: 1rem;
}

.fix-height {
    height: 100%;
}

    
   
.background {
    background-color: rgb(85, 78, 78);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: polygon(36% 0, 95% 0, 65% 100%, 18% 100%);
  }
  section {
    
    margin: 5rem;
    font-size: 1.2 rem;
  }
  .intro {
     
color: rgb(13, 7, 66);
margin-left: 36%;
     
  }
  .crop img {
    max-height: 200px;
    max-width: 250px;
    overflow: hidden;
   }
   .smaller img{
    height: 200px;
    width: 200px;
    overflow: hidden;
   }
   .card-text{
    font-size:19px;
    
    overflow: hidden;
}
.card{
    margin-top: 4rem;
}
.card-img-top {
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.space {
    margin-left: 2rem;
}
#stick-to-top{
    z-index: 2;
    top: 0;
    position: sticky;
    
}
.about{
    border-radius: 15%;
    margin-left: 36%;
    padding: 1rem;
    color: white;
    background-color: rgba(165, 42, 42, 0.486);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right-side{
    text-align: right;
    background-color: rgba(152, 139, 165, 0.349);
    margin-left: 75%;
    color: black;
    font-size:large;
}
.nav-link{
    font-weight:500;
    color: black;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
    
  }
     
input[type=message], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
    
  }
  input[type=email]
  {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

 
  input[type=submit] {
    background-color: #04AA6D;
    color: wheat;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=text]:hover{
    background-color: teal;
}
    input[type=email]:hover{
    background-color: teal;
}
    input[type=message]:hover{
    background-color: teal;
}
  
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }